<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<APIProxy revision="1" name="{{ api_name }}">
    <Basepaths>/{{ base_path }}</Basepaths>
    <ConfigurationVersion majorVersion="4" minorVersion="0"/>
    <Description></Description>
    <DisplayName>{{ api_name }}</DisplayName>
    <Policies>
	<Policy>FC-SF-SecUtils-Legacy-Basic-Auth</Policy>
	<Policy>FC-SF-SecUtils-Target-Basic-Auth</Policy>
	</Policies>
    <ProxyEndpoints>
        <ProxyEndpoint>default</ProxyEndpoint>
    </ProxyEndpoints>
    <Resources/>
    <Spec></Spec>
    <TargetServers/>
    <TargetEndpoints>
        <TargetEndpoint>default</TargetEndpoint>
    </TargetEndpoints>
</APIProxy>
