<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<SpikeArrest async="false" continueOnError="false" enabled="true" name="TM-SA-{{tm_name}}">
    <DisplayName>TM-SA-{{tm_name}}</DisplayName>
    <Properties/>
    <Identifier ref="{{sp_indentifier}}"/>
    <Rate>{{sp_rate}}</Rate>
</SpikeArrest>