<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<JSONThreatProtection async="false" continueOnError="false" enabled="true" name="TP-Json-Payload">
    <DisplayName>TP-Json-Payload</DisplayName>
    <Properties/>
    <ArrayElementCount>200</ArrayElementCount>
    <ContainerDepth>10</ContainerDepth>
    <ObjectEntryCount>150</ObjectEntryCount>
    <ObjectEntryNameLength>100</ObjectEntryNameLength>
    <Source>request</Source>
    <StringValueLength>5000</StringValueLength>
</JSONThreatProtection>